################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Product.Inventory.Api/obj/Release/net6.0
/.vs/Product.Inventory/DesignTimeBuild
/.vs/Product.Inventory/FileContentIndex
/.vs
